---
layout: layouts/base.njk
templateClass: tmpl-locations
---

{% block content %}

<h1>{{ title }}</h1>

<form  onsubmit="onSubmit(event)">

    <label>
    Suche:
    <input name="postal"  value="{{locationPostal}}" placeholder="PLZ" type="text"
           pattern="^(?!01000|99999)(0[1-9]\d{3}|[1-9]\d{4})$" title="Postleitzahl aus 5 Ziffern"/>
    </label>
    <button type="submit" id="submitBtn">Suchen</button>
</form>

{{ content | safe }}


{% endblock %}

<script>

const onSubmit = (event) => {
    event.preventDefault(); 

    const postal = event.target.postal.value;
    if (postal) {
        window.location.replace(location.origin + '/locations/' + event.target.postal.value);
    } else {
        window.location.replace(location.origin + '/locations/page-0');
    }
}

</script>