---
pagination:
    data: locations
    alias: locations
    size: 25
permalink: "locations/page-{{ pagination.pageNumber }}/"
description: Currently available test locations.
layout: layouts/locations.njk
eleventyNavigation:
  key: locations-overview
---

{% import 'macros/location-list-item.njk' as lli %}

{%for l in locations %}
    {{ lli.locationListItem(l) }}
{%endfor %}

<a href={{pagination.previous}}><</a>
<a href={{pagination.next}}>></a>